<div>
  <!-- <div class="grid-container" style="margin-top: 20px" *ngIf="images$ | async as im"> -->
  <div class="grid-container" style="margin-top: 20px">
    <img [src]="imgStr" width="300" /><br /><br />
    <!-- <div *ngFor="let i of im">
      <img [src]="'https://kai.sgp1.digitaloceanspaces.com/' + i.imagePath" width="300">
    </div> -->
  </div>
  <div class="grid-container" style="margin-top: 30px">
    <h2>
      Comments: <span>{{ comments }}</span>
    </h2>
    <br />
  </div>
  <div class="grid-container">
    <button
      type="button"
      style="margin-right: 15%"
      mat-raised-button
      color="accent"
      (click)="likePost()"
    >
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button type="button" mat-raised-button color="warn" (click)="unlikePost()">
      <mat-icon>thumb_down</mat-icon>
    </button>
  </div>
</div>
